<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Davinci.J</a>
        <div>
            <a href="/form">회원 가입</a>
            <a href="/list">회원 목록</a>
        </div>
    </div>
</nav>

<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center" >
<!--                <nav>-->
<!--                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">-->
<!--                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Project Tab 1</a>-->
<!--                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Project Tab 2</a>-->
<!--                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Project Tab 3</a>-->
<!--                    </div>-->
<!--                </nav>-->
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel">
                        <table class="table" cellspacing="0">
                            <thead>
                                  <tr>
                                    <th>userId</th>
                                    <th>password</th>
                                    <th>userName</th>
                                  </tr>
                            </thead>
                            <tbody>
                            {{#users}}
                                <tr>
                                    <td>{{userId}}</td>
                                    <td>{{password}}</td>
                                    <td>{{userName}}</td>
                                </tr>
                            {{/users}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>